
            body{
                max-width: 920px;
                margin: auto;
                padding: 0;
                font-family: sans-serif;
            }
            img{
                max-width: 100%;
            }
            .header{
                width: 100%;
                height: 55px;
                font-weight: bold;

            }
            .container{
                width: 90%;
                margin: auto;
                height: 100%;
            }
            .title{
                color:#7543ff;
                width: 30%;
                float: left;
                height: 100%;
            }
            nav{
                float: left;
                width: 70%;
                height: 100px;                
            }
             nav ul{
                display: flex;
                float: right;
            }
            nav li{
                list-style-type: none;
                margin-left: 50px;                
            }
            nav a{
                text-decoration: none;
                font-size: 1rem;
                color: #636376;
                text-transform: capitalize;
            }
            nav a:hover{
                color: #000;
                cursor: pointer;
            }
            .active{
                color: #000;
            }



            /*========================== Slide Part===============================*/
            .slide{
                height: 330px;
            }
            .slide .container{
                background: #eee;
                box-shadow: 1px 3px 6px #ccc;
            }
            .slide .container div{
                width: 50%;
                float: left;
                height: 87%;
                box-sizing: border-box;
            }
            .slide_txt{
                padding-left: 60px;
            }
            .slide_txt span{
                color: #7543ff;
            }
            .slide_txt h1{
                margin-bottom: 0;
                font-weight: 700;
            }
            .slide_txt p{
                margin-top: 5px;
                font-size: 1.1rem;
                font-weight: 700;
                color: gray;
            }
            .slide_txt a{
                text-decoration: none;
                width: 90px;
                height: 30px;
                font-size: .7rem;
                font-weight: 700;
                display: inline-block;
                text-align: center;
                box-shadow: -4px 4px 2px #ccc;
                line-height: 30px;
                cursor:pointer;
                margin-top: 15px;
            }
            .a_contact{
                background: #fff;
                color: #000;
            }
            .a_project{
                background: #7543ff;
                margin-left: 20px;
                color: #fff;
            }
            .slide_img img{
                width: 300px;
                height: 250px;
                float: right;
                padding-right: 30px;
            }

            /*=========================== Featues Part=======================*/
            .features{
                width: 100%;
                height: 125px;
                margin-top: 65px;
            }
            .features .container{
                border-top: 2px solid #ccc;
                border-bottom: 2px solid #ccc;

            }
            .features hr{
                border: 1px solid #ccc;
            }
            .features ul{
            
                padding: 0;
                margin: 0px 0px 28px 0px;
            }
            .features li{
                list-style-type: none;
                float: left;
                width: 25%;
                text-align: center;
            }
            .features h1{
                font-size: 2.4rem;
                margin-bottom: 0;
            }
            .features p{
                margin-top: 3px;
                font-size: .7rem;
                font-weight: 700;
                color: silver;
            }
            












            /*================================== MAMINNG RESPONSIVE============================*/
            @media(max-width:340px){
                .header{
                    display: block;
                    height: 185px;
                }
                .title{
                    width: 100%;
                    text-align: center;
                    height: 70px;
                }
                nav{
                    width: 100%;
                    text-align: center;
                }
                nav ul{
                    flex-direction: column;
                    margin: 0;
                    padding: 0;
                    text-align: center;
                    width: 100%;
                }
                nav li{
                    margin-left: 0;
                    margin-bottom: 10px;
                }
                .slide{
                    height: 460px;
                    width: 100%;
                    margin-top: 20px;
                }
                .slide .container{
                    height: 100%;
                }
                .slide .container .slide_txt{
                    width: 100%;
                    height: 180px;    
                    padding: 0;
                    text-align: center;
                    font-size: 0.7rem;
                    margin-top: 10px;                
                }
                
                .slide_txt p{
                    font-size: .7rem;
                }
                .slide_txt a{
                    display: block;
                    margin: auto;
                    margin-top: 10px;
                }
                
                .slide .container .slide_img{
                    display: block;
                    height: 260px;
                    width: 100%;
                }
                .slide_img img{
                    width: 80%;
                    margin: auto;
                    padding-right: 30px;
                }
                /* Features part */
                .features{
                    height: 230px;
                    margin-top: 40px;
                }
                .features ul{
                    height: 200px;
                    margin-bottom: 15px;
                }
                .features li{
                    width: 50%;
                }
                
            }

            @media(min-width:350px) and (max-width:700px){
                .header{
                    height: 70px;
                }
                nav{
                    height: 100%;
                    text-align: center;
                }
                nav ul{
                    margin-top: 20px;
                }
                nav li{
                    margin-left: 20px;
                }
                /* slide part responsive */
                .slide{
                    height: 265px;
                }
                .slide_txt{
                    font-size: .8rem;
                    padding-left: 40px;
                    padding-top: 30px;
                }
                .slide_img img{
                    width: 80%;
                    padding-right: 20px;
                }
            }